<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<meta charset="UTF-8">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Professor</title>
</head>

<body>
<div>
  <div>
<!--    passado no model and view -->
    <h1>Editar Professor #: <span th:text="${professorId}"></span></h1>
  </div>

  <div>
    <div>
<!--      para ter um objeto (com o nome da classe minusculo que autopreenche os campos
caso dee erro e seus atributos com:
 mostra o objeto passado -->
<!--      em vez de name: th:field-->
<!--      template para montar a requisição a página de update -->
      <form th:object="${requisicaoFormProfessor}" th:action="@{/professores/{professorId}(professorId = ${professorId})}" method="POST">
        <div>
          <label>Nome do Professor</label>
          <input type="text" th:field="*{nome}">
          <div th:errors="*{nome}"> </div>
        </div>
        <div>
          <label>Salário</label>
<!--          elemento do thymeleaf para adicionar uma classe de estilo no erro  th:errorclass="" -->
          <input type="text" th:field="*{salario}">
          <div th:errors="*{salario}"> </div>
        </div>
        <div>
          <label>Status</label>
          <select th:field="*{statusProfessor}">
            <option th:each="status : ${listaStatusProfessor}"
                    th:value="${status}" th:text="${status}"></option>
          </select>
        </div>
        <button type="submit">Submeter</button>
        <a href="javascript:history.back()">Voltar</a>
      </form>
    </div>
  </div>
</div>

</body>




</html>