<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do professor</title>
</head>
<body>
    <h1>Detalhes do professor</h1>
    <h2>Professor #<span th:text="${professor.id}"></span></h2>
    <main>
        <div>
            <div>
                <div>
                    <b>Nome:</b> <span th:text="${professor.nome}"></span><br/>
                    <b>Salário:</b> <span th:text="${professor.salario}"></span><br/>
                    <b>Status:</b> <span th:text="${professor.getStatusProfessor().toString()}"></span>
                </div>
            </div>
            <div>
                <div>
<!--                    monta a url do botão editar na view show -->
                    <a th:href="@{/professores/{professorId}/edit(professorId = ${professor.id})}">Editar</a><a href="/professores">Voltar</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>